.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.signup{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.outlined{
width:350px;
}

